.*.swp
*.*~*
*.bak

/ansible.cfg
*.retry
/.project
/.pydevproject

fetch/
.vagrant/
/.settings/
                               
old/                               
*pycache*                               
*.pyc                               
.idea                               
.vscode                               
ceph.secret                               
osd-luks.keys                               
.env*
pbs.keys
.ansible
.venv
proxmox_env

