##################################################################################
## This file is created and managed by ansible-role-proxmox, task: 'system/apt' ##
## Do not change it in any other way, because any changes will be overwritten.  ##
##################################################################################

# Proxmox VE Ceph packages (Further information: https://pve.proxmox.com/wiki/Package_Repositories)
{{ pve_ceph_repository_line }}
