##################################################################################################
## This file is created and managed by ansible-role-proxmox, task: 'access/realms.yml'          ##
## Do not change it in any other way, because any changes will be overwritten.                  ##
##################################################################################################
{# The domains.cfg parser expects a blank line after each realm/domain and a TAB character before each key value pair #}

{% for realm in _pve_realms %}
{{ realm.type }}: {{ realm.realm }}
{% for setting, value in realm.items() %}
{% if setting not in ['type', 'realm'] %}
{% if value is boolean %}
    {%- set value = 1 if value else 0 %}
{% endif %}
{{ "\t" }}{{ setting }} {{ value }}
{% endif %}
{% endfor %}

{% endfor %}
